<div class="container">

  <br>

    <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Events:</h3>
          </div>
        </div>
      </div>
</div>