<div class="container"><br>
	
		<div class="panel panel-primary">
	  		<div class="panel-heading"><h2 class="panel-title">Donate::.</h2></div>
	  		<div class="panel-body">
		  		<div align="center">
		  		<img src="/assets/RibbonDonateBitcoin.png" alt="Bitcoin Logo" class="img-thumbnail">
		  		</div><br>

	  			<p>Your support is critical to our success and you can show your appreciation
					for MMA Metrix and support future development by donating! Currently our primary
					means of accepting donations is via crypto curriencies like Bitcoin. If you would 
					like to make a donation by other means please feel free to <b><%= link_to "contact us", contact_path %></b>.</p>

					<h4><b>Privacy</b></h4>
					We greatly appreciate the generosity of those who donate to MMA Metrix, and
					it is very important to us to maintain the community's trust. For this reason,
					we prefer to utilize crypto curriencies as our primary means of accepting donations, but
					if you do chose to donate to us by other means rest assured we do not store 
					any personal information other than your login ID (email address) on our servers.

					Login ID's/Email Addresses are kept private and never sold or otherwise divulged
					to third-parties. </p>

					<p>Please feel free to <b><%= link_to "contact us", contact_path %></b> if you have any questions. </p>
					<br>

		<div class="col-md-4">
			<div class="panel panel-success">
		  	<div class="panel-heading"><h4 class="panel-title-crypto">Bitcoin::.</h4></div>
		  	<div class="panel-body" align="center">
					<img src="/assets/bitcoin_md.gif" alt="Donate Bitcoin" class="img-thumbnail">
					<p><b>Bitcoin:</b><br>1HDGoxzJzmAhv46iDPoe73KxT1weo5ZhpY</p>
					<button class="btn btn-success" data-toggle="modal" data-target=".bs-bitcoin-modal-lg">Show Larger</button>
				</div>
				<div class="modal fade bs-bitcoin-modal-lg" tabindex="-1" role="dialog" aria-labelledby="BitcoinModal" aria-hidden="true">
				  <div class="modal-dialog modal-md">
				    <div class="modal-content">
				    	<div class="modal-header">
				    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    		<h4 class="modal-title" id="BitcoinModal_1">Bitcoin Donations::.</h4>
				    	</div>
				    	<div class="modal-body" align="center">
				      <img src="/assets/bitcoin_lg.gif" alt="Donate Bitcoin" class="img-thumbnail">
				      <p><br>1HDGoxzJzmAhv46iDPoe73KxT1weo5ZhpY</p>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
		  	<div class="panel-heading"><h4 class="panel-title-crypto">Litecoin::.</h4></div>
		  	<div class="panel-body" align="center">
					<img src="/assets/litecoin_md.gif" alt="Donate Litecoin" class="img-thumbnail">
					<p><b>Litecoin:</b><br>LUtf9uWsxSsErsPhb93BMwJjNjcgtXRmX7</p>
					<button class="btn btn-success" data-toggle="modal" data-target=".bs-litecoin-modal-lg">Show Larger</button>
				</div>
				<div class="modal fade bs-litecoin-modal-lg" tabindex="-1" role="dialog" aria-labelledby="LitecoinModal" aria-hidden="true">
				  <div class="modal-dialog modal-md">
				    <div class="modal-content">
				    	<div class="modal-header">
				    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    		<h4 class="modal-title" id="LitecoinModal_1">Litecoin Address::.</h4>
				    	</div>
				    	<div class="modal-body" align="center">
				      <img src="/assets/litecoin_lg.gif" alt="Donate Bitcoin" class="img-thumbnail">
				      <p>LUtf9uWsxSsErsPhb93BMwJjNjcgtXRmX7</p>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
		  	<div class="panel-heading"><h4 class="panel-title-crypto">Dogiecoin::.</h4></div>
		  	<div class="panel-body" align="center">
					<img src="/assets/dogecoin_md.gif" alt="Donate Dogiecoin" class="img-thumbnail">
					<p><b>Dogiecoin:</b><br>DN2cRVALjFzsuHbbUg9vMpTGzGphzByayk</p>
					<button class="btn btn-success" data-toggle="modal" data-target=".bs-dogiecoin-modal-lg">Show Larger</button>
				</div>
				<div class="modal fade bs-dogiecoin-modal-lg" tabindex="-1" role="dialog" aria-labelledby="DogiecoinModal" aria-hidden="true">
				  <div class="modal-dialog modal-md">
				    <div class="modal-content">
				    	<div class="modal-header">
				    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    		<h4 class="modal-title" id="DogiecoinModal_1">Dogiecoin Address::.</h4>
				    	</div>
				    	<div class="modal-body" align="center">
				      <img src="/assets/dogecoin_lg.gif" alt="Donate Dogiecoin" class="img-thumbnail">
				      <p>DN2cRVALjFzsuHbbUg9vMpTGzGphzByayk</p>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		</div>

		</div>
	</div>
</div>