<div class='container'><br>

<div class="panel panel-primary">
  <div class="panel-heading"><font color="#ffffff" size="5"><b>Edit Referee:</b></font></div>
    <div class="panel-body">


<%= render 'editForm' %>

</div>
</div>
</div>
</div>