// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-title {
  margin-top: 0px;
  font-size: 3em;
}

.panel-title-crypto {
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 1.7em;
}