<div id="footer">
  <div class="container">

    <div class="col-md-12" align="center">
      <br><%= link_to '<i class="glyphicon glyphicon-qrcode"></i> Donate'.html_safe, donate_path %>&nbsp&nbsp&nbsp&nbsp
      <%= link_to '<i class="glyphicon glyphicon-question-sign"></i> Help'.html_safe, help_path %>&nbsp&nbsp&nbsp&nbsp
      <%= link_to '<i class="glyphicon glyphicon-envelope"></i> Contact'.html_safe, contact_path %>&nbsp&nbsp&nbsp&nbsp
      <%= link_to '<i class="glyphicon glyphicon-info-sign"></i> About'.html_safe, about_path %>
    </div>

    <div class="col-md-12" align="center">
    	© Copyright Metrix, LLC - All rights reserved.
    </div>  

  </div>
</div>